@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Space+Grotesk:wght@300..700&display=swap');
@import 'tailwindcss';

@theme {
    --font-grotesk: "Space Grotesk", sans-serif;
    --font-lora: "Lora", serif;

    --color-card-grey: hsl(60, 3.4%, 88.6%);
    --color-card-lavender: hsl(248.3, 100%, 82.9%);
    --color-card-green: hsl(171.7, 29.9%, 81%);
    --color-card-lilac: hsl(312, 40.3%, 75.7%);

    --color-grey-hover: hsl(0, 0%, 98%);
}

h1, h2, h3, h4, h5, h6, button {
    font-family: var(--font-grotesk);
}

span, p  {
    font-family: var(--font-lora);
}

.card {
    box-shadow: 0px 2px 2px oklch(0 0 0 / 0.2), 0px 4px 4px oklch(0 0 0 / 0.1);
    @apply rounded-xl border-2;
}

@layer utilities {
    .border-1 {
        border-width: 1px;
    }
}
